<div class="tought-form-container">
    <a href="/toughts/dashboard" class="btn">Voltar para o Dashboard</a>
    <h1>Criar Pensamento:</h1>
    <form action="/toughts/create" method="post">
    <div class="form-control">
        <label for="titulo">Título</label>
        <input type="text" name="titulo" id="titulo" placeholder="Digite o título do pensamento" />
    </div>
    <div class="form-control">
        <label for="conteudo">Conteúdo</label>
        <textarea name="conteudo" id="conteudo" placeholder="Digite o conteúdo do pensamento"></textarea>
    </div>
    <input type="submit" value="Criar Pensamento" />
    </form>
</div>