<div class="tought-form-container">
  <a href="/toughts/dashboard" class="btn">Voltar para o Dashboard</a>
  <h1>Criar Pensamento:</h1>
  <form action="/toughts/add" method="post">
    <div class="form-control">
      <label for="title">Título</label>
      <input
        type="text"
        name="title"
        id="title"
        placeholder="Digite o título do pensamento"
      />
    </div>
    <div class="form-control">
      <label for="content">Conteúdo</label>
      <textarea
        name="content"
        id="content"
        placeholder="Digite o conteúdo do pensamento"
      ></textarea>
    </div>
    <input type="submit" value="Criar Pensamento" />
  </form>
</div>