<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Toughts</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <!--BOOTSTRAP ICONS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <nav id="navbar">
        <a href="" id="logo">
            <img src="/img/toughts_logo.png" alt="Toughts">
        </a>
        <ul>
            <li><a href="/">Pensamentos</a></li>
            <!---URL pos- autenticação--->
            <li><a href="/login">Entrar</a></li>
            <li><a href="/register">Registrar</a></li>
        </ul>
    </nav>
    <!--Mensagens-->
    <div id="container">
        {{{body}}}
    </div>
    <footer>
        <p><span> &copy; 2023 Toughts. Todos os direitos reservados.</span></p>
    </footer>

</body>
</html>